body {
    text-align: left;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: square;
}


li {
    text-align: left;
}

.posebno {
    float: right;
    display: inline;
    font-weight: bold;
}
